@import "tailwindcss";
@theme {
  /* Suas cores customizadas */
  --color-brand-blue: #00a9e7;
  --color-brand-dark: #121212;
  --color-brand-gray: #1e1e1e;
  --color-brand-light-gray: #a0a0a0;

  /* Você pode adicionar outras customizações aqui */
  --font-family-sans: var(--font-inter), system-ui, sans-serif;
}
